<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Reverse Proxy -->
    <rewrite>
      <rules>
        <rule name="FastAPI Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8000/{R:1}"
            logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://rubendaristizabalo-pixel.github.io" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
