<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  
    <proxy enabled="true" preserveHostHeader="true" />

    <rewrite>
      <rules>

        <!-- NO tocar /docs -->
        <rule name="Ignore Docs" stopProcessing="true">
          <match url="^docs(/.*)?$" />
          <action type="None" />
        </rule>

        <!-- Todo lo demás va a FastAPI -->
        <rule name="FastAPI Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite"
                  url="http://127.0.0.1:8000/{R:1}" />
        </rule>

      </rules>
    </rewrite>
	
	<httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
      <add name="Access-Control-Allow-Headers" value="Authorization, Content-Type, Accept" />
    </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>



